<div class="block-callout container-fluid">
	<h2>Customer Statuses Management</h2>
	<div class="horizontal-line">&nbsp;</div>
	<h6 class="sub-block-callout">Manage customer statuses for use in the customer management screen.</h6>
</div>
<div class="col-md-12">
	<div class="panel panel-default">
	  <div class="panel-body customer-panel">
	  	<%= render 'view_customers_statuses' %>
	  </div>
	</div>
</div>