<div class="block-callout container-fluid">
	<h2>Customer Status Detailed Information</h2>
	<div class="horizontal-line">&nbsp;</div>
	<h6 class="sub-block-callout">View detailed informaiton about a customer status here.</h6>
</div>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_customers_status_path(@customers_status) %> |
<%= link_to 'Back', customers_statuses_path %>