<div class="block-callout container-fluid">
	<h2>Profile Creation</h2>
	<div class="horizontal-line">&nbsp;</div>
	<h6 class="sub-block-callout">Create your user profile here.</h6>
</div>
<div class="container">
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Create Your Profile</h3>
			  </div>
			  <div class="panel-body">
			    <%= render 'form' %>
			  </div>
			</div>
		</div>
	</div>
</div>