<div class="block-callout container-fluid">
	<h2>Profile Management</h2>
	<div class="horizontal-line">&nbsp;</div>
	<h6 class="sub-block-callout">Manage your user profile here.</h6>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="text-center employee-list">DevMatch Community</h1>
			<p class="text-center employee-list">Welcome to the DevMatch community. Users must fill out a profile in order to be visible in the community.</p>
			<ul class="list-unstyled">
				<% @users.each do |user| %>
					<% if user.profile %>
						<li>
							<div class="well row <%= cycle('white-bg', '') %>">
								<div>
									<%= link_to user do %>
										<h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
									<% end %>
								</div>
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>