<h1 class="main-viewport">Customers</h1>

<div style="overflow-x:auto;">
  <table>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td class="customer-name"><%= link_to customer.company_name, customer %></td>
          <td class="customer-name"><%= link_to 'Edit', edit_customer_path(customer) %></td>
          <td class="customer-name"><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>