<div class="block-callout container-fluid">
	<h2>Customer List</h2>
	<div class="horizontal-line">&nbsp;</div>
	<h6>A list of Nicholson Plumbing Customers</h6>
</div>
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default">
	  <div class="panel-body">
	  	<%= render 'view_customers' %>
	  </div>
	</div>
</div>