<div class="block-callout container-fluid">
	<h2>Customer List</h2>
	<div class="horizontal-line">&nbsp;</div>
	<h6 class="sub-block-callout">Manage customers and view any important information about them by selecting them.</h6>
</div>
<div class="col-md-12">
	<div class="panel panel-default">
	  <div class="panel-body customer-panel">
	  	<%= render 'view_customers' %>
	  </div>
	</div>
</div>