<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Create New Customer</h3>
	  </div>
	  <div class="panel-body">
	    <%= render 'form', customer: @customer %>
	  </div>
	</div>
	<%= link_to 'Back', customers_path, class: 'btn btn-danger' %>
</div>