<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <%= render 'customers/side-nav' %>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-10">
      	<div class="row">
	      	<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Create New Customer</h3>
						  </div>
						  <div class="panel-body">
						    <%= render 'form', customer: @customer %>
						  </div>
						</div>
						<%= link_to 'Back', customers_path, class: 'btn btn-danger' %>
					</div>
				</div>
		</div>
  </div>
</div>