<div class="block-callout container-fluid">
	<h2><%= @customer.company_name %> Detailed Information</h2>
	<div class="horizontal-line">&nbsp;</div>
	<h6 class="sub-block-callout">View a clients detailed information here.</h6>
</div>
<div class="container">
  <div class="row">
    <div class="well">
      <%= @customer.inspect %>
      <p>Customer Information and Projects Page</p>
      <%= link_to 'Back', customers_path, class: 'btn btn-danger' %>
    </div>
  </div>
</div>