<div class="container">
  <div class="row">
    <div class="well">
      <%= @customer.inspect %>
      <p>Customer Information and Projects Page</p>
      <%= link_to 'Back', customers_path, class: 'btn btn-danger' %>
    </div>
  </div>
</div>