<div class="block-callout container-fluid">
	<h2>Vendor Types Management</h2>
	<div class="horizontal-line">&nbsp;</div>
	<h6 class="sub-block-callout">Manage vendor types for use in the vendor management screen.</h6>
</div>
<div class="col-md-12">
	<div class="panel panel-default">
	  <div class="panel-body customer-panel">
	  	<%= render 'view_vendors_types' %>
	  </div>
	</div>
</div>