<div class="container column-adjustment">
	<div class="home-callout text-center container">
	  <h1>Welcome to D.U.K.E.</h1>
	  <h3>A custom CRM for Nicholson Plumbing.</h3>
	</div>
	<div class="col-md-4 col-offset-8">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Customer List</h3>
		  </div>
		  <div class="panel-body">
		  	<p><%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id) if user_signed_in? %></p>
		  </div>
		</div>
	</div>
</div>