// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-cust {
	text-align: center;
}

.btn.btn-success {
	color: white;
}

.btn.btn-danger {
	color: white;
}

.main-viewport {
	margin-top: 0px;
}

.customer-panel {
	background: #EEF1F7;
	margin: -15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #EBEFF5;
}

tr:nth-child(even){ background-color: #fff; }
tr:nth-child(odd){ background-color: #F8FAFC; }
tr:hover { background-color: #DFE3E9; }