// Top Navigation
$bgDefault      : #37475f;
$bgHighlight    : #37475f;
$colDefault     : #e5e5e5;
$colHighlight   : #a4c8ff;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  border-radius: 0;
  .navbar-brand {
    color: $colDefault;
		width: 298px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
    &:hover, &:focus {
      color: #e5e5e5; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.navbar-fixed-top {
	border-bottom: 1px solid black;
	-webkit-box-shadow: 0 4px 6px -5px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -5px #222;
}

// Side Navigation
/* .....NavBar: Icon only with coloring/layout.....*/

/*Remove rounded coners*/

nav.sidebar.navbar {
	border-radius: 0px;
}

/*small/medium side display*/
@media (min-width: 768px) {

	/*lets nav bar to be showed on mouseover*/
	nav.sidebar:hover {
		margin-left: 200px;
	}

	/*adds border top to first nav box */
	nav.sidebar .navbar-nav > li:first-child{
		// border-top: 1px #e5e5e5 solid;
	}

	/*adds border to bottom nav boxes*/
	nav.sidebar .navbar-nav > li {
		// border-bottom: 1px #e5e5e5 solid;
	}

	/*Center Icons*/
	nav.sidebar a{
		padding-right: 13px;
	}

	/* Colors/style dropdown box*/
	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: 0 4px 6px -5px #222;
  	-moz-box-shadow: 0 4px 6px -6px #222;
  	box-shadow: 0 4px 6px -5px #222;
	}

	/*allows nav box to use 100% width*/
	nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
		padding: 0 0px 0 0px;
	}

	/*colors dropdown box text */
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #e5e5e5;
	}

	/*gives sidebar width/height*/
	nav.sidebar{
		z-index: 1;
		float: left;
		height: 100%;
		width: 200px;
		margin-left: -165px;
		overflow-y: hidden;
		margin-bottom: 0px;
	}

	/*give sidebar 100% width;*/
	nav.sidebar li {
		width: 100%;
	}

	/* Move nav to full on mouse over*/
	nav.sidebar:hover{
		margin-left: -15px;
	}
	/*for hiden things when navbar hidden*/
	.forAnimate{
		opacity: 0;
	}
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

	/*Show all nav*/
	nav.sidebar{
		z-index: 1;
		position: fixed;
		height: 100%;
		width: 16.7%;
		margin-left: -15px;
		overflow-y: hidden;
		background: #37475F;
	}

	/*Show hidden items on nav*/
	nav.sidebar .forAnimate{
		opacity: 1;
	}
}

.navbar-inverse .navbar-nav > li > a {
    color: #e5e5e5;
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #a4c8ff;
	background-color: transparent;
}

nav:hover .forAnimate{
	opacity: 1;
}
section{
	padding-left: 15px;
}