// Home Page Styles
.flash-container {
  position: fluid;
  width: 100%;
}

.block-callout {
	background: #EEF1F7;
	color: #687188;
	margin: -15px -15px 30px;
	-webkit-box-shadow: 0 4px 6px -5px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -5px #222;
}

.horizontal-line {
	margin-top: -12px;
	border-bottom: 1px solid #aaa;
	margin-left: -15px;
	margin-right: -15px;
}

// Panel Styles
.panel > .panel-heading {
	background-image: none;
	background: #EEF1F7;
}