<div class="block-callout container-fluid">
	<h2>Vendor Status Creation</h2>
	<div class="horizontal-line">&nbsp;</div>
	<h6 class="sub-block-callout">Add new vendor statuses to the database here.</h6>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Create New Vendor Status</h3>
			  </div>
			  <div class="panel-body">
			    <%= render 'form', vendors_statuses: @vendors_status %>
			  </div>
			</div>
			<%= link_to 'Back', vendors_statuses_path, class: 'btn btn-danger' %>
		</div>
	</div>
</div>