<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to home_path, class: "navbar-brand" do %>
			  <i class="fa fa-gears"></i>
			  D.U.K.E.
			<% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
    	<div class="nav navbar-nav navbar-right">
			  <%= link_to "Log In", new_user_session_path, class: "btn btn-default navbar-btn" %>
			</div>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>